$blue: #3791eb;
$blue-pastel: #d1deff;
$green: #58cdaa;
$green-pastel: #cdf0e4;

// Gray levels
$gray-1:  #283e76;
$gray-2: #78787f;
$gray-3: #a5a5ad;

// White levels
$white-1: #f2f3f6;
$white-2: #feffff;
$white-3: #dae1e7;

body {
  font-family: "Rubik", "Arial", sans-serif;
  margin: 0;
  color: $gray-2;
  background-color: $white-1;
}

.container {
  width: 92%;
  margin: 0 auto;
  max-width: 1280px;
  display: flex;
  flex-direction: column;
  .block {
    background-color:  $white-2;
    border-radius: 6px;
    width: 100%;
    height: 25vh;
    margin-top: 24px;
    position: relative;
    .email {
      width: 80%;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
    textarea {
      display: block;
      width: 100%;
      height: 100%;
      border: none;
    }
    #copy {
      position: absolute;
      bottom: 0;
      right: 0;
      background-color: $blue-pastel;
      color: $blue;
      padding: 8px;
      font-size: 0.875rem;
      border-top-left-radius: 2px;
      text-decoration: none;
      transition: all .3s ease-in-out;
      &:hover, &:focus {
        background-color: $gray-1;
        color: $white-1;
      }
    }
    &:first-child {
      width: calc(100% - 32px);
      height: auto;
      background-color: $white-2;
      padding: 16px;
    }
    &:last-child {
      overflow: hidden;
      padding: 8px;
      width: calc(100% - 16px);
      height: calc(25vh - 16px);
    }
  }
  @media (min-width: 956px) {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;

    .block {
      width: calc(50% - 20px);
      margin-top: 0;
      height: 30vh;
      &:first-child {
        margin-bottom: 32px;
      }
      &:last-child {
        width: calc(50% - 16px);
        height: calc(30vh - 16px);
      }
    }
  }
}

h1 {
  color: $gray-1;
  font-size: 1.625rem;
  margin: 0;
}

p {
  font-size: 0.875rem;
  margin: 0;
  margin: 8px 0 16px;
}

form {
  width: 100%;
  .form__elt {
    display: block;
    float: left;
    margin-right: 8px;
    ::placeholder {
      opacity: 0.5;
    }
    label {
      display: block;
      font-size: 0.6875rem;
      margin-bottom: 4px;
    }
    input[type="text"],
    input[type="tel"] {
      padding: 8px 12px;
      display: block;
      border: 2px solid $white-3;
      border-radius: 2px;
    }
  }
}
